---
import Layout from "./Layout.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar/NavBar.astro";
import type { HTMLTag } from "astro/types";
import { twMerge } from "tailwind-merge";

const {
  title,
  description,
  head,
  className,
  isFixed = true,
  image,
}: {
  title?: string;
  description?: string;
  head?: HTMLTag;
  isFixed?: boolean;
  className?: string;
  image?: string;
} = Astro.props;

const isFixedClass = (): string => (isFixed ? "pt-16" : "");
---

<Layout title={title} description={description} head={head} image={image}>
  <NavBar isFixed={isFixed} />

  <div class={isFixedClass()}>
    <main class={twMerge("min-h-screen h-full", className)}>
      <slot />
    </main>

    <div class="absolute flex h-screen w-screen flex-col justify-end">
      <Footer />
    </div>
  </div>
</Layout>
