---
import Layout from "./Layout.astro";
import NavBar from "../components/NavBar.vue";
import Footer from "@c/Footer.vue";

import moment from "moment";

const { frontmatter } = Astro.props;

const date = moment(frontmatter.publishDate).utc().format("YYYY-MM-DD");
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <NavBar client:load trasition:persist="navbar" />

  <main class="pl-32 pt-16 prose">
    <p class="text mb-1">Published on: {date}</p>
    <h1 class="text-5xl text-primary mt-4 mb-4">{frontmatter.title}</h1>
    <h2 class="text-xl text-secondary mt-2 mb-2">{frontmatter.description}</h2>

    <div class="flex mt-2">
      {
        frontmatter.tags.map((tag: string) => (
          <>
            <a href={`/tags/${tag}`}>#{tag}</a>
            <div class="ml-2" />
          </>
        ))
      }
    </div>

    <div class="mt-8"></div>
    <slot />
    <!-- Markdown content is injected here -->
  </main>
</Layout>
